body {
  font-family:Verdana,sans-serif;
  margin:0;
  padding:0;
}
a {
  color:royalblue;
}
nav a {
  color:white;
}
a:link , a:visited {
  text-decoration:none;
}
a:hover, a:active {
  text-decoration:underline;
}
h1 {
  font-size:24px;
}
h2 {
  font-size:18px;
}
h3 {
  font-size:16px;
}
header {
  background-color:dodgerblue;
  color:white;
  text-align:center;
  position:fixed;
  width:100%;
  top:0;
  height:60px;
  line-height:60px;
  font-style:bold;
  font-size:50px;
  text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
}
nav {
  line-height:30px;
  background:linear-gradient(to right,royalblue, dodgerblue); 
  color:white;
  text-align:left;
  padding:5px 15px;
  position:fixed;
  width:100%;
  top:60;
  height:30px;
}
section {
  padding-top:110px;
  padding-bottom:20px;
  text-align:left;
  margin:0 auto;
  max-width:900px;
  z-index: -1;
}
footer {
  background: linear-gradient(to right,dodgerblue,royalblue);
  color:white;
  clear:both;
  text-align:center;
  padding:5px; 
  position:fixed;
  width:100%;
  bottom: 0;
}
