@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans";
  margin:0;
  padding:0;
  font-size: 94%;
}
header {
  background-color:dodgerblue;
  color:white;
  text-align:center;
  position:fixed;
  width:100%;
  top:0;
  height:60px;
  line-height:60px;
  font-weight:bold;
  font-size:50px;
  letter-spacing: 8px;
  text-shadow:#fff 0px 1px 0, #00a 0 -1px 0;
}
nav {
  line-height:30px;
  background:linear-gradient(to right,royalblue, dodgerblue); 
  color:white;
  text-align:left;
  position:fixed;
  width:100%;
  top:60px;
  height:30px;
}
a {
  color:royalblue;
}
nav a {
  color:white;
  margin-right:10px;
  padding:5px;
  text-decoration:none;
}
nav a:hover {
  background-color:darkslateblue;
}
h1 {
  margin-top:30px;
  font-size:2.3em;
  padding:2px;
  padding-left:5px;
  color:white;
  background: linear-gradient(to right,royalblue,white);
}
h2 {
  font-size:1.8em;
  border-bottom: thin solid black;
}
h3 {
  font-size:1.4em;
}
section {
  position:fixed;
  top:90px;
  bottom:30px;
  text-align:left;
  max-width:900px;
  max-height:100%;
  overflow-y:auto;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  padding: 10px;
  /*z-index: -1;*/
}
section.demo {
  max-width:none;
}
iframe.demo {
  position:absolute;
  height:100%;
  width:100%;
  border:none;
}
footer {
  background: linear-gradient(to right,dodgerblue,royalblue);
  color:white;
  clear:both;
  text-align:center;
  padding:5px; 
  position:fixed;
  width:100%;
  bottom: 0;
}
ol,ul{
  line-height:160%;
}
ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
ol>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}
dl{
  border:3px double #ccc;
  padding:0.5em;
}
dt {
  float:left;
  clear:left;
  width:200px;
  text-align:right;
  font-weight:bold;
}
dd {
  margin:0 0 0 210px;
  padding:0 0 0.5em 0;
}
pre {
  padding:10px;
  border-radius: 10px;
  background-color:azure;
  white-space: pre-wrap;                 /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  white-space: -pre-wrap;                /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;              /* Opera 7 and up */
  word-wrap: break-word;                 /* IE 5.5+ and up */
  /* overflow-x: auto; */                /* Firefox 2 only */
  /* width: 99%; */          /* only if needed */
}
.note {
  background:Azure;
  border-radius:10px;
  border:2px solid LightBlue;
  padding:10px;
  color:#666;
  font-size:95%;
}
.note:lang(en):before{
  content:"Note: ";
  color:DodgerBlue;
  font-weight:bold;
}
.note:lang(nl):before{
  content:"Opmerking: ";
  color:DodgerBlue;
  font-weight:bold;
}
/*
.note_tag::before::lang(en) {
  content:"Note: ";
  color:royalblue;
  font-style:bold;
}
*/
.e-mail::before {
  content:attr(data-website);
  unicode-bidi:bidi-override;
  direction:rtl;
}
.e-mail::after {
  content:attr(data-user);
  unicode-bidi:bidi-override;
  direction:rtl;
}
.squebi{
  height:100%;
  width:100%;
  border:none;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.toggleVis {
  text-decoration: none;
  font-weight: bold;
}
.expandOrCollapse {
  font-weight: bold;
  color: royalblue;
}
.sparqluri {
  font-weight: bold;
  color: royalblue;
}
.sparqluri:hover, .sparqluri:active {
  text-decoration:underline;
}
/*
#explanation{
  position:fixed;
  top:0px;
  padding:10px;
  width:600px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color:rgba(200,200,255,0.8);
}
#explanation:hover{
  top:100;
}
#explanation_shown{
  height:200px;
  float:top;    
}
#explanation_hidden{
  height:10px;   
  float:top;    
}
*/


/*
.helpbutton {
  border:.2em solid rgba(100,200,255,0.6);
  font-size:36px;
  font-weight: bold;
  line-height:1.1em;
  color:#ffffff;
  background-color:rgba(255,100,50,0.9);
  border-radius:50%;
  height:60px;
  width:60px;
  margin-left:50%;
  margin-top:-400px;
  float:left;
  z-index:10;
  position:relative;
}
.helpbutton:hover {
  background-color:rgba(255,100,20,1);
  text-decoration:none;
  border-color:rgba(100,150,255,0.8);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.helpbutton:visited {
  background-color:rgba(255,200,50,0.7);
  border-color:rgba(100,200,255,0.5);
  text-decoration: none;
}
*/

.helpbutton{
  border:.3em solid rgba(100,200,255,0.6);
  border-radius:50%;
  position:absolute;
  font-size:44px;
  font-weight: bold;
  text-align:center;
  vertical-align:middle;
  top:120px;
  margin-left:48%;
  width:60px;
  height:60px;
  color:#ffffff;
  background-color:rgba(255,100,50,0.9);
  z-index:0;
}
.helpbutton:hover {
  background-color:rgba(255,100,20,1);
  text-decoration:none;
  border-color:rgba(100,150,255,0.8);
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.helpbutton:visited {
  background-color:rgba(255,200,50,0.7);
  border-color:rgba(100,200,255,0.5);
  text-decoration: none;
}

