@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans";
  margin:0;
  padding:0;
  font-size: 94%;
}
a {
  color:royalblue;
}
nav a {
  color:white;
}
a:link , a:visited {
  text-decoration:none;
}
a:hover, a:active {
  text-decoration:underline;
}
h1 {
  margin-top:30px;
  font-size:2.3em;
  padding:2px;
  padding-left:5px;
  color:white;
  background: linear-gradient(to right,royalblue,white);
}
h2 {
  font-size:1.8em;
  border-bottom: thin solid black;
}
h3 {
  font-size:1.4em;
}
header {
  background-color:dodgerblue;
  color:white;
  text-align:center;
  position:fixed;
  width:100%;
  top:0;
  height:60px;
  line-height:60px;
  font-weight:bold;
  font-size:50px;
  letter-spacing: 8px;
  text-shadow:#fff 0px 1px 0, #00a 0 -1px 0;
}
nav {
  line-height:30px;
  background:linear-gradient(to right,royalblue, dodgerblue); 
  color:white;
  text-align:left;
  padding:5px 15px;
  position:fixed;
  width:100%;
  top:60;
  height:30px;
}
section {
  padding-top:110px;
  padding-bottom:60px;
  text-align:left;
  margin:0 auto;
  max-width:900px;
  z-index: -1;
}
footer {
  background: linear-gradient(to right,dodgerblue,royalblue);
  color:white;
  clear:both;
  text-align:center;
  padding:5px; 
  position:fixed;
  width:100%;
  bottom: 0;
}
ol,ul{
  line-height:160%;
}
ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
ol>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}
dl{
  border:3px double #ccc;
  padding:0.5em;
}
dt {
  float:left;
  clear:left;
  width:200px;
  text-align:right;
  font-weight:bold;
}
dd {
  margin:0 0 0 210px;
  padding:0 0 0.5em 0;
}
pre {
  padding:10px;
  border-radius: 10px;
  background-color:azure;
  white-space: pre-wrap;                 /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  white-space: -pre-wrap;                /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;              /* Opera 7 and up */
  word-wrap: break-word;                 /* IE 5.5+ and up */
  /* overflow-x: auto; */                /* Firefox 2 only */
  /* width: 99%; */		       /* only if needed */
}
  
}
.note {
  background:Azure;
  border-radius:10px;
  border:2px solid LightBlue;
  padding:10px;
  color:#666;
  font-size:95%;
}
.note:lang(en):before{
  content:"Note: ";
  color:DodgerBlue;
  font-weight:bold;
}
.note:lang(nl):before{
  content:"Opmerking: ";
  color:DodgerBlue;
  font-weight:bold;
}
/*
.note_tag::before::lang(en) {
  content:"Note: ";
  color:royalblue;
  font-style:bold;
}
*/
.e-mail::before {
  content:attr(data-website);
  unicode-bidi:bidi-override;
  direction:rtl;
}
.e-mail::after {
  content:attr(data-user);
  unicode-bidi:bidi-override;
  direction:rtl;
}
.squebi{
  height:100%;
  width:100%;
  border:none;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.toggleVis {
  text-decoration: none;
  font-weight: bold;
}
.expandOrCollapse {
  font-weight: bold;
  color: royalblue;
}
.sparqluri {
  font-weight: bold;
  color: royalblue;
}
.sparqluri:hover, .sparqluri:active {
  text-decoration:underline;
}
